@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle, #8675f9, #a36fe9, #b66bd8, #c468c8, #cc68b8, #c477ca, #bb86db, #b194e8, #80b4ff, #3ed0ff, #16e8ff, #5ffbf1);
}

.container {
    background: rgba(136, 188, 231, 0.3);
    padding: 50px;
    border-radius: 1rem;
    box-shadow: 0.1px 0.1px 20px;
}



form h1 {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-weight: 600;
    color: #16e8ff;
    font-size: 50px;
}

.form input {
    display: flex;
    padding: 15px 30px;
    margin-top: 3vh;
    border-radius: 0.5rem;
    border-style: none;
    background-color: rgb(61, 61, 61);
    color: white;
}

::placeholder {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    gap: 1rem;
    margin-top: 5vh;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2vh;
    
}